*{ margin: 0; padding: 0; }

body, html{
    background-color: #FFD85F;
    height: 100%;
}

p { /*공통속성*/
  font-family: 'Handlee', cursive;
  font-weight: bold;
}

#welcome {
  font-size: 40px;
  color: #FF8000;
  text-align: center;
  padding:-200px 2px -100px 100px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#wrap {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  color: #333;

  width: 770px;
  padding-top: 30px;
  margin: 0 auto;
}

#wrap > div {
  margin: 25px;
}

#inputs {
  border: 1px solid #aaa;
  background: #fff;
  width: 180px;
  padding: 10px;
  margin: 0 auto;
}

#inputs input {
  border: none;
  width: 160px;
  padding: 5px 10px;
  outline: none;
}

/* #inputs input:first-child {
  border-bottom: 1px solid #aaa;
} */

label {
  margin: 0 10px;
}
/* 스타일 시트에서 체크 박스와 라디오 버튼을 숨깁니다. */
input[type=radio]:not(old){
  width   : 30px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
/* 레이블을 배치하고 확인되지 않은 이미지를 표시합니다. */
input[type=radio]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('checks.png') no-repeat 0 0;
  line-height  : 24px;
}
/* 체크 박스와 라디오 버튼을 선택하면 선택한 이미지가 표시됩니다 */
input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.submit {
  width: 55px;
  margin: 50px auto;
}

input[type=submit] {
  padding: 15px 45px;
  margin-right: 10px;
  background: #FF8000;
  color: #fff;
  font-weight: bold;
  border: 0 none;
  cursor: pointer;
  /* -webkit-border-radius: 5px;
  border-radius: 5px; */
}
