*{ margin: 0; padding: 0; /* 모든 요소의 기본여백 없애기 */ }

body {
  background-color: #FFD85F;
  overflow-y: hidden; overflow-x: hidden; /*스크롤바 숨김*/
}

a { text-decoration: none; }

p { /*공통속성*/
  font-family: 'Handlee', cursive;
  font-weight: bold;
}

img {
  vertical-align: top;
}

.container {
  width: 1470px;
  margin: 0 auto;
  overflow: hidden;/* 세로길이 0이 되는 문제해결 */
}

.container > div {
  float: left;
}

.center-container {
  margin-left: 70px;
  margin-right: 80px;
}

.left-container > div, .center-container > div, .right-container > div {
  position: relative; /* p의 부모요소 */
}

.left-container > div {
  width: 250px;
  height: 250px;
  padding: 10px;
}

.center-container > div {
  width: 900px;
  height: 675px;
}

.right-container > div {
  width: 125px;
  height: 125px;
  padding: 10px;
}

#welcome {
  font-size: 60px;
  color: #FF8000;
  text-align: center;
  padding:-200px 2px -100px 100px;
}

.left-container > div > p, .right-container > div > p {
  visibility: hidden;
  position: absolute; /* 부모요소에서 정렬 */
  color: #000;
  opacity: .3;

  z-index: 1; /* img(0)의 위로 올라오게 */
}

.left-container > div > p {
  font-size: 33px;
}

#teststart {
  top: 110px;
  left: 40px;
}

#guestbook {
  top: 110px;
  left: 30px;
}

.right-container > div > p {
  font-size: 22px;
}

#creator {
  top: 60px;
  left: 20px;
}

#source {
  top: 60px;
  left: 27px;
}
.main-img {
  width: 900px;
  height: 675px;
}

.teststart-img, .guestbook-img {
  width: 250px;
  height: 250px;
}

.home-img, .creator-img, .source-img {
  width: 125px;
  height: 125px;
}

@media ( max-width: 768px ) {/*모바일화면에서의 변경사항*/
  body {
    overflow-y: visible; /*스크롤바 숨김 해제*/
  }
  #welcome {
    font-size: 40px;
  }
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 605px;
    min-width: 500px;
  }

  .left-container {
    order: 2;
    width: 200px;
    height: 100px;
    margin-left: 15px;
  }
  .center-container {
    order: 3;
    margin: 35px 10px;
  }
  .right-container {
    order: 1;
    width: 300px;
    height: 100px;
    margin-left: 50px;
  }

  .center-container > div {
    width: 600px;
    height: 450px;
  }

  .left-container > div, .right-container > div {
    display: inline; /*요소들 줄 안바뀜*/
  }

  .left-container > div > p { font-size: 15px; }

  #teststart {
    top: 40px;
    left: 5px;
  }
  #guestbook {
    top: 40px;
    left: 3px;
  }
  .right-container > div > p { font-size: 16px; }

  #creator {
    top: 40px;
    left: 10px;
  }
  #source {
    top: 42px;
    left: 16px;
  }

  .main-img {
    width: 600px;
    height: 450px;
  }

  .teststart-img, .guestbook-img, .home-img, .creator-img, .source-img {
    width: 80px;
    height: 80px;
  }
}
